@use "../mixins" as mixins;

.swiper-pagination.swiper-pagination-horizontal {
  display: flex;
  justify-content: center;
  gap: var(--swiper-pagination-bullet-horizontal-gap, .5rem);
  position: initial;

  .swiper-pagination-bullet {
    margin: 0;
  }
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #BEC7D5;
  --swiper-pagination-color: var(--dark-500);
  --swiper-pagination-bullet-inactive-opacity: 1;

  flex-shrink: 0;
}

.swiper-controll {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;

  @include mixins.breakpoint-up(lg) {
    margin-top: 1.5rem;
  }
}

.swiper-navigation {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.swiper-button-prev,
.swiper-button-next {
  --_color: var(--primary);
  --_padding: .375rem;
  --_icon-size: 1.625rem;

  margin: unset;
  position: initial;
  transform: initial;

  @include mixins.breakpoint-up(lg) {
    --_padding: .4375rem;
    --_icon-size: 2rem;
  }

  &::after {
    all: initial;
  }
}
