@use "mixins" as mixins;

h1, h2, h3, h4, h5 {
  font-weight: 600;
  line-height: 1.08;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

h2, .h2 {

  @include mixins.breakpoint-up(lg) {
    font-size: 3rem;
  }
}

h3, .h3 {

  @include mixins.breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

h4, .h4 {

  @include mixins.breakpoint-up(lg) {
    font-size: 2rem;
  }
}

p {

	+ p {
		margin-top: 1rem;
	}
}
