@use "../mixins" as mixins;

.hero {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  @include mixins.breakpoint-up(lg) {
    gap: 2rem;
  }

  &-top {
    color: var(--light);
    padding-top: var(--header-height);
    position: relative;
  }

  &-background {

    &,
    &::after {
      border-radius: 0 0 1.5rem 1.5rem;
      position: absolute;
      inset: 0;
      z-index: -1;

      @include mixins.breakpoint-up(lg) {
        border-radius: initial;
      }
    }

    &::after {
      content: '';
      background-color: rgba(0, 0, 0, .40);

      @include mixins.breakpoint-up(lg) {
        background-color: transparent;
        background-image: linear-gradient(103deg, #000 0%, rgba(0, 0, 0, 0.60) 35%, rgba(0, 0, 0, 0.00) 50%, rgba(0, 0, 0, 0.00) 55%, rgba(0, 0, 0, 0.00) 75%, #000 100%);
      }
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    padding-block: 4.5rem 1.5rem;

    @include mixins.breakpoint-up(lg) {
      min-height: 43.75rem;
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      gap: 2.5rem;
      padding-block: 5rem;
    }
  }

  &-content,
  &-form {
    max-width: 30rem;
  }

  &-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mixins.breakpoint-up(lg) {
      max-width: 39.25rem;
      gap: 2.5rem;
      padding-block: 2rem;
    }
  }

  &-title {
    font-size: 2rem;

    @include mixins.breakpoint-up(lg) {
      font-size: 2.875rem;
    }
  }

  &-button {
    --_height: 4rem;
    --_padding: .25rem 1rem;

    @include mixins.breakpoint-up(lg) {
      align-self: start;
    }
  }

  &-form {
    gap: 1rem;
    color: var(--text-color);
    background-color: var(--light);
    border-radius: 1.5rem;
    padding: 1.5rem var(--container-offset);

    @include mixins.breakpoint-up(lg) {
      max-width: 32.5rem;
      gap: 1.5rem;
      padding: 2rem;
    }

    &,
    &-header,
    &-main,
    &-actions {
      display: flex;
      flex-direction: column;
    }

    &-header {
      gap: 1rem;

      &-top {
        display: flex;
      }
    }

    &-title {
      font-size: 1.25rem;
      font-weight: 500;

      @include mixins.breakpoint-up(lg) {
        font-size: 1.375rem;
        font-weight: 600;
      }
    }

    &-subtitle {
      font-size: .875rem;
      font-weight: 500;

      @include mixins.breakpoint-up(lg) {
        max-width: 24rem;
        font-size: 1.125rem;
        font-weight: 400;
      }
    }

    &-main,
    &-actions {
      gap: .5rem;
    }

    &-main {

      @include mixins.breakpoint-up(lg) {
        gap: 1rem;
      }
    }
  }

  &-persons {
    display: flex;
    flex-direction: column;
    gap: .125rem;
    flex-shrink: 0;
    margin-right: -.375rem;

    @include mixins.breakpoint-up(lg) {
      margin-top: -3.25rem;
      margin-right: -4rem;
    }

    &-pictures {
      display: flex;
    }

    &-picture {
      width: 4.125rem;
      height: 4.125rem;
      flex-shrink: 0;
      border: .1875rem solid var(--light);
      border-radius: 50rem;
      position: relative;
      overflow: hidden;

      @include mixins.breakpoint-up(lg) {
        width: 6.25rem;
        height: 6.25rem;
      }

      & + & {
        margin-left: -2rem;
      }

      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }

    &-label {
      display: flex;
      align-items: center;
      gap: .375rem;
      font-size: .625rem;
      color: var(--gray);

      @include mixins.breakpoint-up(lg) {
        font-size: .75rem;
      }

      &::before {
        content: '';
        width: .375rem;
        height: .375rem;
        display: inline-block;
        flex-shrink: 0;
        background-color: var(--success-300);
        border-radius: 50rem;
      }
    }
  }

  &-features {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: var(--light-100);
    border-radius: 1.5rem;
    padding: 1rem .75rem;

    @include mixins.breakpoint-up(lg) {
      padding: 2.5rem;
    }
  }

  &-feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: .75rem;
    font-weight: 500;
    color: #1E1F25;
    text-align: center;

    @include mixins.breakpoint-up(lg) {
      flex-direction: row;
      align-items: start;
      justify-content: initial;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: start;
    }

    &-icon {
      --_size: 2.5rem;
      --_color: var(--primary);

      background-color: #EBEBEB;
      border-radius: .25rem;
      padding: .5rem;
    }
  }
}
