@use "../mixins" as mixins;

.seo {
  display: none;

  @include mixins.breakpoint-up(lg) {
    display: block;
  }

  &-wrapper {

    &[data-expanded="true"] {

      .seo-content {
        max-height: 125rem;
      }
    }

    &[data-expanded="false"] {
        mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
    }
  }

  &-content {
    max-height: 8.25rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.4;
    overflow: hidden;

    transition-property: max-height;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);

    h2 {
      font-size: 1.5rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }

    h3 {
      font-size: 1.25rem;

      &:not(:first-child) {
        margin-top: 1.5rem;
      }

      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }

    ul {
      margin: 0;
      padding-left: 1.25em;

      &:not(:first-child) {
        margin-top: .5rem;
      }

      &:not(:last-child) {
        margin-bottom: .5rem;
      }
    }

    a {
      font: inherit;
      color: var(--primary);
      transition-property: color;
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-timing-function);

      @media (hover: hover) {

        &:is(:hover, :focus-visible) {
          color: var(--primary-400);
        }
      }

      &:is(:active) {
        color: var(--primary-400);
      }
    }
  }

  &-actions {
    margin-top: 1.75rem;
  }

  &-button {
    --_fs: 1.125rem;
    --_fw: 700;
    --_lh: 1.4;
    --_icon-size: 1.5rem;
    --_icon-color: var(--primary);

    --_color: var(--text-color);
    --_color-hover: var(--primary);
    --_color-active: var(--text-color);

    .text {

      span {

        &:last-child {
          display: none;
        }
      }
    }

    &.is-open {

      .text {

        span {

          &:first-child {
            display: none;
          }

          &:last-child {
            display: initial;
          }
        }
      }

      .icon {
        transform: rotate(180deg);
      }
    }
  }
}
