<label class="checkbox form-control js-input-validate">
  <div class="fieldset">
    <div class="checkbox-wrapper">
      <input type="checkbox" class="checkbox-input" name="policy" required>
      <span class="icon checkbox-icon">
        <svg>
          <use xlink:href="img/icons/check.svg#svg-check"></use>
        </svg>
      </span>
    </div>
    <div class="checkbox-label">
      <p>
        Я согласен с
        <a class="btn btn-link" role="button" tabindex="0"
          data-bs-toggle="modal"
          data-bs-target="#modal-policy">
            условиями политики конфиденциальности
        </a>
      </p>
    </div>
  </div>
  <div class="error-message"></div>
</label>
