<ul class="list-reset contacts-list"
  data-transfer-origin="@transfer"
  data-transfer-breakpoint="1199.98">
  <li class="contacts-list-item">
    <a href="#" class="btn btn-link contacts-list-link">
      <span class="icon contacts-list-icon">
        <svg>
          <use xlink:href="img/icons/location.svg#svg-location"></use>
        </svg>
      </span>
      <span class="contacts-list-content">
        <span class="contacts-list-main">
          Санкт-Петербург,
          <br>
          пр. Народного ополчения 22 к 8
        </span>
      </span>
    </a>
  </li>
  <li class="contacts-list-item">
    <a href="mailto:info@gazon-poliv.ru" class="btn btn-link contacts-list-link">
      <span class="icon contacts-list-icon">
        <svg>
          <use xlink:href="img/icons/email.svg#svg-email"></use>
        </svg>
      </span>
      <span class="contacts-list-content">
        <span class="contacts-list-sup">
          Почта
        </span>
        info@gazon-poliv.ru
      </span>
    </a>
  </li>
</ul>
