<footer class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="footer-start">
        <div class="footer-header">
          <div class="brand">
            <div class="brand-picture">
              <picture>
                <source srcset="./img/logo--light.webp" type="image/webp">
                <img loading="lazy" src="./img/logo--light.png" class="image" width="215" height="40" alt="Лого">
              </picture>
            </div>
            <div class="brand-slogan">
              <p>
                Системы автоматического полива для Вашего ландшафта и сада
              </p>
            </div>
          </div>
          <div class="footer-header-socials"
            data-transfer-target="footer-header-socials"></div>
          <div class="footer-nav-wrapper"
            data-transfer-origin="footer-nav-wrapper"
            data-transfer-breakpoint="991.98">
            <nav class="footer-nav">
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="service"
                data-scroll-offset="32">
                Об услуге
              </button>
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="stages"
                data-scroll-offset="32">
                Этапы монтажа
              </button>
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="benefits">
                Преимущества
              </button>
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="about"
                data-scroll-offset="32">
                О нас
              </button>
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="objects"
                data-scroll-offset="32">
                Наши объекты
              </button>
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="reviews"
                data-scroll-offset="32">
                Отзывы
              </button>
              <button type="button" class="btn footer-nav-link"
                data-scroll-anchor="contacts">
                Контакты
              </button>
            </nav>
          </div>
        </div>
        <div class="footer-start-socials"
          data-transfer-target="footer-start-socials"></div>
        <div class="footer-main"
          data-transfer-target="footer-nav-wrapper">
          <ul class="list-reset socials-list"
            data-transfer-origin="footer-header-socials"
            data-transfer-breakpoint="991.98">
            <li class="socials-list-item">
              <a href="#" class="btn btn-icon btn-vk socials-list-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/vk-fill.svg#svg-vk-fill"></use>
                  </svg>
                </span>
              </a>
            </li>
            <li class="socials-list-item">
              <a href="#" class="btn btn-icon btn-dzen socials-list-link">
                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/dzen-fill.svg#svg-dzen-fill"></use>
                  </svg>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-footer">
          <ul class="list-reset contacts-list">
            <li class="contacts-list-item">
              <a href="#" class="btn btn-link contacts-list-link">
                <span class="icon contacts-list-icon">
                  <svg>
                    <use xlink:href="img/icons/location.svg#svg-location"></use>
                  </svg>
                </span>
                <span class="contacts-list-content">
                  <span class="contacts-list-main">
                    Санкт-Петербург,
                    <br>
                    пр. Народного ополчения 22 к 8
                  </span>
                </span>
              </a>
            </li>
            <li class="contacts-list-item">
              <a href="mailto:info@gazon-poliv.ru" class="btn btn-link contacts-list-link">
                <span class="icon contacts-list-icon">
                  <svg>
                    <use xlink:href="img/icons/email.svg#svg-email"></use>
                  </svg>
                </span>
                <span class="contacts-list-content">
                  <span class="contacts-list-sup">
                    Предложения и сотрудничество
                  </span>
                  info@gazon-poliv.ru
                </span>
              </a>
            </li>
          </ul>

          <a href="#" class="btn footer-up">
            Наверх
          </a>
        </div>
      </div>
      <div class="footer-end"
        data-transfer-origin="footer-start-socials"
        data-transfer-breakpoint="991.98">
        <div class="footer-callback">
          @include('phone.html')
          <button type="button" class="btn btn-lg btn-outline-light footer-callback-button"
            data-bs-toggle="modal"
            data-bs-target="#modal-form">
            Обратный звонок
          </button>
        </div>

        <div class="footer-socials">
          <a href="#" target="_blank" class="btn btn-lg btn-type-whatsapp footer-socials-button">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
              </svg>
            </span>
            <span>Написать в WhatsApp</span>
          </a>
          <a href="#" target="_blank" class="btn btn-lg btn-type-telegram footer-socials-button">
            <span class="icon">
              <svg>
                <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
              </svg>
            </span>
            <span>Написать в Telegram</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="footer-bottom-wrapper">
        <div class="footer-copy">
          <p>
            © 2025, Компания ООО «Тру Винд». Все права защищены
          </p>
        </div>
        <div class="footer-bottom-nav">
          <a href="#" class="btn footer-bottom-link">
            Политика конфиденциальности
          </a>
          <a href="#" class="btn footer-bottom-link">
            Публичная оферта
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
