<div class="input-phone form-control js-input-validate">
  <div class="fieldset">
    <div class="dropdown">
      <button type="button" class="btn btn-secondary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false">
        <picture>
          <source srcset="./img/input-phone/ru.webp" type="image/webp">
          <img loading="lazy" src="./img/input-phone/ru.png" class="image" width="24" height="24" alt="Картинка">
        </picture>

        <span class="icon input-phone-dropdown-icon">
          <svg>
            <use xlink:href="img/icons/dropdown.svg#svg-dropdown"></use>
          </svg>
        </span>
      </button>
      <div class="dropdown-menu">
        <button type="button" class="btn dropdown-menu-choice" data-country="ru">
          <picture>
            <source srcset="./img/input-phone/ru.webp" type="image/webp">
            <img loading="lazy" src="./img/input-phone/ru.png" class="image" width="24" height="24" alt="Картинка">
          </picture>
        </button>
        <button type="button" class="btn dropdown-menu-choice" data-country="usa">
          <picture>
            <source srcset="./img/input-phone/usa.webp" type="image/webp">
            <img loading="lazy" src="./img/input-phone/usa.png" class="image" width="24" height="24" alt="Картинка">
          </picture>
        </button>
      </div>
    </div>

    <input type="tel" class="input-phone-input" name="phone" autocomplete="tel" placeholder="+7 (999) 999-99-99" required>
  </div>
  <div class="error-message"></div>
</div>
