<div class="modal modal--form fade" id="modal-form" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/close.svg#svg-close"></use>
          </svg>
        </span>
      </button>

      <div class="modal-body">
        <form class="hero-form js-form">
          <div class="hero-form-header">
            <h3 class="modal-title">
              Заполните форму ниже и получите предварительный расчет стоимости
            </h3>
            <div class="modal-subtitle">
              <p>
                Мы сразу назовем примерную стоимость и, если она вас устроит, подберем удобное время для записи на бесплатный выезд и замер участка
              </p>
            </div>
          </div>
          <div class="hero-form-main">
            <div class="hero-form-actions">
              @include('input-phone.html')
              <button type="submit" class="btn btn-xl btn-primary hero-form-submit">
                <span>Получить консультацию</span>

                <span class="icon">
                  <svg>
                    <use xlink:href="img/icons/arrow-right.svg#svg-arrow-right"></use>
                  </svg>
                </span>
              </button>
            </div>

            @include('checkbox.html')
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal modal--thanks fade" id="modal-thanks" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/close.svg#svg-close"></use>
          </svg>
        </span>
      </button>

      <div class="modal-body">
        <h2 class="modal-title">
          Благодарим за заявку!
        </h2>

        <div class="modal-subtitle">
          <p>
            В ближайшее время с вами свяжутся
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-xl btn-primary btn-submit" data-bs-dismiss="modal">
            Спасибо за заявку
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal modal--thanks fade" id="modal-error" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/close.svg#svg-close"></use>
          </svg>
        </span>
      </button>

      <div class="modal-body">
        <h2 class="modal-title">
          Упс!
        </h2>

        <div class="modal-subtitle">
          <p>
            Что-то пошло не так, попробуйте ещё раз.
          </p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-xl btn-primary btn-submit" data-bs-dismiss="modal">
            Спасибо за заявку
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal--content fade" id="modal-user-agreement" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/close.svg#svg-close"></use>
          </svg>
        </span>
      </button>

      <div class="modal-body">
        <div class="seo-content">
          <h2>
            Пользовательское соглашение сайта <a href="https://greenkeep.ru/" target="_blank">greenkeep.ru</a>
          </h2>
          <ol>
            <li>
              Общие положения

              <ol>
                <li>
                  Настоящее Пользовательское соглашение (далее — Соглашение) регулирует отношения между Пользователем и ООО «Тру Винд» (далее — Компания) в отношении использования сайта <a href="https://greenkeep.ru/" target="_blank">greenkeep.ru</a>.
                </li>
                <li>
                  Используя сайт, Пользователь подтверждает свое согласие с условиями настоящего Соглашения.
                </li>
              </ol>
            </li>
            <li>
              Определения

              <ol>
                <li>
                  Пользователь — физическое лицо, использующее сайт.
                </li>
                <li>
                  Сайт — интернет-ресурс, расположенный по адресу <a href="https://greenkeep.ru/" target="_blank">greenkeep.ru</a>.
                </li>
                <li>
                  Услуги — информация и сервисы, предоставляемые через сайт.
                </li>
              </ol>
            </li>
            <li>
              Порядок использования

              <ol>
                <li>
                  Доступ к сайту предоставляется на безвозмездной основе.
                </li>
                <li>
                  Пользователь обязуется:

                  <ul>
                    <li>
                      Использовать сайт в соответствии с действующим законодательством
                    </li>
                    <li>
                      Не нарушать работу сайта
                    </li>
                    <li>
                      Не распространять запрещенный контент
                    </li>
                    <li>
                      Соблюдать права третьих лиц
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>
              Права и обязанности Компании

              <ol>
                <li>
                  Компания вправе:

                  <ul>
                    <li>
                      Изменять условия Соглашения
                    </li>
                    <li>
                      Приостанавливать работу сайта
                    </li>
                    <li>
                      Удалять запрещенный контент
                    </li>
                    <li>
                      Отказывать в доступе при нарушении правил
                    </li>
                  </ul>
                </li>
                <li>
                  Компания обязуется:

                  <ul>
                    <li>
                      Обеспечивать работоспособность сайта
                    </li>
                    <li>
                      Соблюдать конфиденциальность персональных данных
                    </li>
                    <li>
                      Предоставлять актуальную информацию
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>
              Ограничение ответственности

              <ol>
                <li>
                  Компания не несет ответственности за:

                  <ul>
                    <li>
                      Непреодолимые обстоятельства
                    </li>
                    <li>
                      Действия третьих лиц
                    </li>
                    <li>
                      Технические сбои
                    </li>
                    <li>
                      Недостоверность предоставленной Пользователем информации
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>
              Персональные данные

              <ol>
                <li>
                  Обработка персональных данных осуществляется в соответствии с Политикой конфиденциальности.
                </li>
                <li>
                  Пользователь дает согласие на обработку своих персональных данных.
                </li>
              </ol>
            </li>
            <li>
              Интеллектуальная собственность

              <ol>
                <li>
                  Все материалы сайта являются собственностью Компании и защищены законом.
                </li>
                <li>
                  Запрещается копирование и распространение материалов без согласия Компании.
                </li>
              </ol>
            </li>
            <li>
              Порядок разрешения споров

              <ol>
                <li>
                  Все споры разрешаются в установленном законом порядке.
                </li>
                <li>
                  При возникновении споров стороны стремятся разрешить их путем переговоров.
                </li>
              </ol>
            </li>
            <li>
              Изменения Соглашения

              <ol>
                <li>
                  Компания вправе вносить изменения в Соглашение.
                </li>
                <li>
                  Новая редакция Соглашения вступает в силу после ее публикации на сайте.
                </li>
              </ol>
            </li>
            <li>
              Заключительные положения

              <ol>
                <li>
                  Соглашение составлено в электронном виде.
                </li>
                <li>
                  Признание одного положения недействительным не влияет на действительность остальных положений.
                </li>
              </ol>
            </li>
            <li>
              Контактная информация

              <ol>
                <li>
                  По вопросам, связанным с использованием сайта, Пользователь может обратиться:

                  <ul>
                    <li>
                      По телефону: <a href="tel:+78125027209" target="_blank">+7 (812) 502-72-09</a>
                    </li>
                    <li>
                      По email: <a href="mailto:info@gazon-poliv.ru" target="_blank">info@gazon-poliv.ru</a>
                    </li>
                    <li>
                      По адресу: 191025, г. Санкт-Петербург, вн.тер.г. муниципальный округ №65, пр.-кт. Приморский, д. 163, литера А, кв. 11
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>
              Приложения

              <ol>
                <li>
                  К Соглашению прилагаются:

                  <ul>
                    <li>
                      Политика конфиденциальности
                    </li>
                    <li>
                      Правила использования сайта
                    </li>
                    <li>
                      Условия предоставления услуг
                    </li>
                  </ul>

                  <p>
                    Все актуальные версии документов, хранятся в специальном разделе на Яндекс.Диске по ссылке: <a href="https://disk.yandex.ru/d/kBRKbsZetsf0eQ" target="_blank">https://disk.yandex.ru/d/kBRKbsZetsf0eQ</a>
                  </p>
                  <p>
                    Дата принятия: 02.07.2025
                  </p>
                </li>
              </ol>
            </li>
            <li>
              Дополнительные условия

              <ol>
                <li>
                  Пользователь подтверждает, что:

                  <ul>
                    <li>
                      Ознакомлен с условиями Соглашения
                    </li>
                    <li>
                      Согласен с ними
                    </li>
                    <li>
                      Имеет право на заключение подобных соглашений
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>
              Особые условия

              <ol>
                <li>
                  При оформлении заказа Пользователь подтверждает:

                  <ul>
                    <li>
                      Согласие с условиями оплаты
                    </li>
                    <li>
                      Согласие с условиями доставки
                    </li>
                    <li>
                      Согласие с гарантийными обязательствами
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
            <li>
              Сроки действия

              <ol>
                <li>
                  Соглашение действует бессрочно и вступает в силу с момента его принятия Пользователем.
                </li>
              </ol>
            </li>
            <li>
              Порядок принятия

              <ol>
                <li>
                  Пользователь принимает Соглашение путем:

                  <ul>
                    <li>
                      Нажатия кнопки “Согласен”
                    </li>
                    <li>
                      Продолжения использования сайта
                    </li>
                    <li>
                      Оформления заказа
                    </li>
                  </ul>
                </li>
              </ol>
            </li>
          </ol>
          <p>
            С уважением,
            <br>
            ООО «Тру Винд»
          </p>
          <p>
            P.S. Настоящим Пользователь подтверждает, что ознакомлен и согласен с условиями настоящего Соглашения.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal--content fade" id="modal-policy" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/close.svg#svg-close"></use>
          </svg>
        </span>
      </button>

      <div class="modal-body">
        <div class="seo-content">
          <h2>
            Политика обработки персональных данных
          </h2>

          <ol>
            <li>
              Общие положения

              <p>
                Настоящая Политика обработки персональных данных (далее — Политика) разработана в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» и иными нормативными актами в области обработки персональных данных.
              </p>
              <p>
                Политика применяется к сайту <a href="https://greenkeep.ru/" target="_blank">greenkeep.ru</a> и определяет порядок обработки персональных данных пользователей.
              </p>
            </li>
            <li>
              Оператор персональных данных

              <ul>
                <li>
                  Оператор: ООО «Тру Винд»
                </li>
                <li>
                  Адрес: 191025, г. Санкт-Петербург, вн.тер.г. муниципальный округ №65, пр.-кт. Приморский, д. 163, литера А, кв. 11
                </li>
                <li>
                  Email: <a href="mailto:info@gazon-poliv.ru" target="_blank">info@gazon-poliv.ru</a>
                </li>
              </ul>
            </li>
            <li>
              Цели обработки персональных данных

              <ul>
                <li>
                  Обработка заявок и обращений пользователей
                </li>
                <li>
                  Предоставление информации о товарах и услугах
                </li>
                <li>
                  Заключение и исполнение договоров
                </li>
                <li>
                  Отправка информационных рассылок
                </li>
                <li>
                  Анализ пользовательского поведения (с использованием cookie)
                </li>
              </ul>
            </li>
            <li>
              Категории обрабатываемых данных

              <ul>
                <li>
                  Персональные данные:

                  <ul>
                    <li>
                      Фамилия, имя, отчество
                    </li>
                    <li>
                      Контактные данные (телефон, email)
                    </li>
                    <li>
                      Адрес доставки
                    </li>
                    <li>
                      Данные для оплаты
                    </li>
                  </ul>
                </li>
              </ul>

              <ul>
                <li>
                  Cookie-данные:

                  <ul>
                    <li>
                      IP-адрес
                    </li>
                    <li>
                      Тип браузера
                    </li>
                    <li>
                      Время посещения сайта
                    </li>
                    <li>
                      История просмотров
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              Порядок и сроки обработки

              <ul>
                <li>
                  Обработка данных осуществляется с использованием автоматизированных и неавтоматизированных средств
                </li>
                <li>
                  Хранение данных осуществляется в течение срока действия договора и 3 лет после его окончания
                </li>
                <li>
                  Данные уничтожаются при достижении целей обработки или по требованию субъекта данных
                </li>
              </ul>
            </li>
            <li>
              Меры защиты

              <ul>
                <li>
                  Конфиденциальность данных гарантируется
                </li>
                <li>
                  Применяются технические и организационные меры защиты
                </li>
                <li>
                  Доступ к данным имеют только уполномоченные сотрудники
                </li>
              </ul>
            </li>
            <li>
              Права субъектов персональных данных

              <ul>
                <li>
                  На доступ к своим персональным данным
                </li>
                <li>
                  На их исправление
                </li>
                <li>
                  На удаление
                </li>
                <li>
                  На ограничение обработки
                </li>
                <li>
                  На перенос данных
                </li>
              </ul>
            </li>
            <li>
              Передача данных

              <ul>
                <li>
                  Данные могут передаваться:

                  <ul>
                    <li>
                      Доверенным подрядчикам
                    </li>
                    <li>
                      По требованию уполномоченных органов
                    </li>
                    <li>
                      В рамках исполнения договорных обязательств
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              Трансграничная передача

              <p>
                Трансграничная передача данных осуществляется в соответствии с требованиями законодательства РФ.
              </p>
            </li>
            <li>
              Срок действия

              <p>
                Политика действует бессрочно и может быть изменена Оператором с уведомлением пользователей.
              </p>
            </li>
            <li>
              Контакты для обращений

              <p>
                По вопросам обработки персональных данных можно обращаться:
              </p>
              <ul>
                <li>
                  По телефону: <a href="tel:+78125027209" target="_blank">+7 (812) 502-72-09</a>
                </li>
                <li>
                  По email: <a href="mailto:info@gazon-poliv.ru" target="_blank">info@gazon-poliv.ru</a>
                </li>
                <li>
                  По почте: г. Санкт-Петербург, пр. Народного ополчения 22к8 выставочный дом №8
                </li>
              </ul>
              <p>
                Дата принятия: 02.07.2025
              </p>
            </li>
            <li>
              Дополнительные положения

              <p>
                Оператор обязуется соблюдать конфиденциальность данных
                <br>
                Пользователь подтверждает ознакомление с Политикой при регистрации/оформилении заказа
                <br>
                Действие Политики распространяется на все формы сбора данных на сайте <a href="https://greenkeep.ru/" target="_blank">greenkeep.ru</a>
              </p>
            </li>
          </ol>

          <p>
            С уважением,
            <br>
            ООО «Тру Винд»
          </p>
          <p>
            P.S. Все актуальные версии документов, регламентирующих работу с персональными данными, хранятся в специальном разделе на Яндекс.Диске по ссылке: <a href="https://disk.yandex.ru/d/kBRKbsZetsf0eQ" target="_blank">https://disk.yandex.ru/d/kBRKbsZetsf0eQ</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
