<div class="objects-card">
  <div class="objects-card-swiper">
    <div class="objects-card-main">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/objects/main-1.webp" type="image/webp">
              <img loading="lazy" src="./img/objects/main-1.jpg" class="image" width="519" height="519" alt="Картинка">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/objects/main-2.webp" type="image/webp">
              <img loading="lazy" src="./img/objects/main-2.jpg" class="image" width="519" height="519" alt="Картинка">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/objects/main-3.webp" type="image/webp">
              <img loading="lazy" src="./img/objects/main-3.jpg" class="image" width="519" height="519" alt="Картинка">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="objects-card-thumb">
      <div class="swiper" thumbsSlider="">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/objects/thumb-1.webp" type="image/webp">
              <img loading="lazy" src="./img/objects/thumb-1.jpg" class="image" width="163" height="92" alt="Картинка">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/objects/thumb-2.webp" type="image/webp">
              <img loading="lazy" src="./img/objects/thumb-2.jpg" class="image" width="163" height="92" alt="Картинка">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/objects/thumb-3.webp" type="image/webp">
              <img loading="lazy" src="./img/objects/thumb-3.jpg" class="image" width="163" height="92" alt="Картинка">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="objects-body">
    <h3 class="objects-title">
      Объект в КП Солнечный Бор
    </h3>

    <div class="objects-content">
      <h5>
        Задача:
      </h5>
      <p>
        К нам обратились с пожеланием быстро установить систему полива. Объект уже обжит, газоны и растения посажены.
      </p>
      <p>
        В процессе ухода за садом клиенты напрямую столкнулись с необходимостью регулярного полива и сложностями
        связанными с этим процессом.
      </p>
      <p>
        Быстро согласовали смету и попросили успеть смонтировать до отъезда в отпуск. На весь процесс отводилось всего
        неделя.
      </p>
      <p>
        Мы выполнили весь комплекс работ за шесть дней, земляные работы с восстановлением целостности газонов, монтаж
        труб, и всего спектра оборудования для полива.
      </p>
    </div>
    <div class="objects-main">
      <ul class="list-reset objects-list">
        <li class="objects-list-item">
          <span class="icon objects-list-icon">
            <svg>
              <use xlink:href="img/icons/calendar.svg#svg-calendar"></use>
            </svg>
          </span>
          <div class="objects-list-content">
            <p>
              Срок монтажа:
            </p>
            <h5 class="objects-list-title">
              6 дней
            </h5>
          </div>
        </li>
        <li class="objects-list-item">
          <span class="icon objects-list-icon">
            <svg>
              <use xlink:href="img/icons/tag.svg#svg-tag"></use>
            </svg>
          </span>
          <div class="objects-list-content">
            <p>
              Оборудование:
            </p>
            <h5 class="objects-list-title">
              Hunter, Rain Bird
            </h5>
          </div>
        </li>
        <li class="objects-list-item">
          <span class="icon objects-list-icon">
            <svg>
              <use xlink:href="img/icons/shield.svg#svg-shield"></use>
            </svg>
          </span>
          <div class="objects-list-content">
            <p>
              Гарантия:
            </p>
            <h5 class="objects-list-title">
              5 лет
            </h5>
          </div>
        </li>
        <li class="objects-list-item">
          <span class="icon objects-list-icon">
            <svg>
              <use xlink:href="img/icons/square-check.svg#svg-square-check"></use>
            </svg>
          </span>
          <div class="objects-list-content">
            <p>
              Дата монтажа:
            </p>
            <h5 class="objects-list-title">
              15 мая 2023 года
            </h5>
          </div>
        </li>
      </ul>
      <div class="objects-actions">
        <button type="button" class="btn btn-xl btn-primary objects-button"
          data-bs-toggle="modal"
          data-bs-target="#modal-form">
          <span>УЗНАТЬ СТОИМОСТЬ</span>
          <span class="icon">
            <svg>
              <use xlink:href="img/icons/arrow-right.svg#svg-arrow-right"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
