<article class="reviews-card">
  <div class="reviews-card-header">
    <h3 class="reviews-card-title">
      @name
    </h3>

    <div class="reviews-card-stars">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/star.svg#svg-star"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="reviews-card-main">
    <p>
      @desc
    </p>
  </div>
  <div class="reviews-card-footer">
    <a href="#" target="_blank" class="btn btn-link reviews-card-link">
      Оригинал отзыва
    </a>

    <div class="reviews-card-yandex">
      <picture>
        <source srcset="./img/reviews/yandex.webp" type="image/webp">
        <img loading="lazy" src="./img/reviews/yandex.png" class="image" width="24" height="24" alt="Картинка">
      </picture>
    </div>
  </div>
</article>
