<ul class="list-reset socials-list">
  <li class="socials-list-item">
    <a href="https://wa.me/+79312023562" target="_blank" class="btn btn-icon btn-whatsapp socials-list-link">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/whatsapp.svg#svg-whatsapp"></use>
        </svg>
      </span>
    </a>
  </li>
  <li class="socials-list-item">
    <a href="https://t.me/+79312023562" target="_blank" class="btn btn-icon btn-telegram socials-list-link">
      <span class="icon">
        <svg>
          <use xlink:href="img/icons/telegram.svg#svg-telegram"></use>
        </svg>
      </span>
    </a>
  </li>
</ul>
