<article class="stages-card">
  <div class="stages-card-body">
    <div class="stages-card-header">
      <h3 class="stages-card-title">
        @title
      </h3>

      <div class="stages-card-current">
        @current
      </div>
    </div>
    <div class="stages-card-main"
      data-text-collapse>
      <div class="stages-card-content">
        <div class="text-collapse" data-text-expanded="false">
          <div>
            <p>
              @desc
            </p>
          </div>
        </div>
      </div>

      <button type="button" class="btn btn-link stages-card-link text-toggle"
        data-text-toggle>
        <span class="text">
          <span>Подробнее</span>
          <span>Скрыть текст</span>
        </span>
        <span class="icon">
          <svg>
            <use xlink:href="img/icons/arrow-right.svg#svg-arrow-right"></use>
          </svg>
        </span>
      </button>
    </div>
  </div>

  <div class="stages-card-picture">
    <picture>
      <source srcset="./img/stages/@image.webp" type="image/webp">
      <img loading="lazy" src="./img/stages/@image.jpg" class="image" width="378" height="210" alt="Картинка">
    </picture>
  </div>
</article>
