<article class="system-card">
    <div class="system-card-picture">
      <picture>
        <source srcset="./img/system/@image.webp" type="image/webp">
        <img loading="lazy" src="./img/system/@image.jpg" width="379" height="237" alt="Картинка">
      </picture>
    </div>
    <div class="system-card-content">
      <h3 class="system-card-title">
        @title
      </h3>
      <div class="system-card-subtitle">
        <p>
          @subtitle
        </p>
      </div>
    </div>
    <div class="system-card-actions">
      <button type="button" class="btn btn-xl btn-primary system-card-button">
        Оставить заявку
      </button>
    </div>
  </article>
