// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "", sans-serif;
  --content-width: 1200px;
  --container-offset: 1.25rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // sizes
  --fs-base: 1rem;
  --fw-base: 400;
  --lh-base: normal;

  // colors
  --title-color: #000;
  --text-color: #333;
  --primary: orange;
  --light: #fff;
  --gray: #808080;

  // backgrounds
  --body-bg: #fff;

  // radius
  --rounded: 1rem;

  // shadows
  --shadow: 0px 0px .625rem .125rem rgba(0,0,0,0.375);

  // transitions
  --transition-duration: 300ms;
  --transition-timing-function: ease-in-out;
}
